/* ===== Base ===== */

.reveal {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  font-size: 30px;
  background-color: #f5f9ff; 
  color: #0f172a;
}

.reveal .slides section li{
    text-align: justify;
}

.reveal .slides {
  text-align: justify;
}


:root {
  --r-link-color: #E6C691;
  --r-link-color-hover: #F5E6C8;
}

.reveal .slide-menu-button a,
.slide-menu-button a,
.slide-menu-button i {
  color: #0f172a !important;
}

/* Barra de progresso inferior */
.reveal .progress {
  color: #0f172a !important;
}

.reveal .progress span {
  background-color: #0f172a !important;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230f172a' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E") !important;
}

/* ===== Títulos ===== */
.reveal h1 {
  font-size: 2.1em;
  position: relative;
  top: 5px;
  font-weight: 800;
  color: #0f172a; 
}

.reveal h2 {
  font-size: 1.7em;
  position: relative;
  top: 10px;
  font-weight: 700;
  color: #052034;
}

.reveal h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #052034;
}


#title-slide .subtitle {
  position: relative;
  top: 5px;
}


.titulo-principal {
  font-size: 1.3em !important;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px !important
}

/* ===== Slide de título ===== */
.reveal .title-slide {
 background: linear-gradient(
  135deg,
  rgba(5, 32, 52, 0.75),      /* azul-marinho */
  rgba(59, 82, 96, 0.65),     /* azul acinzentado */
  rgba(230, 198, 145, 0.65)   /* bege dourado */
),
    url("imagens/transicao.jpg");

  background-size: cover;
  background-position: center;
  color: white;
}

.reveal .title-slide h1,
.reveal .title-slide h2,
.reveal .title-slide p {
  color: white;
}

/* ===== Texto ===== */
.reveal p,
.reveal li {
  line-height: 1.45;
}


.transicao::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(5, 32, 52, 0.20);
  z-index: 0;
}

/* ===== Slides de transição ===== */

.transicao h1 {
  color: white !important;
  font-size: 2.1em !important;
  font-weight: 800;
  text-align: left !important;

  background: linear-gradient(
    90deg,
    rgba(5, 32, 52, 0.70) 0%,
    rgba(59, 82, 96, 0.55) 55%,
    rgba(230, 198, 145, 0.50) 100%
  );

  padding: 10px 60px;
  width: 100%;
  box-sizing: border-box;
}

/* ===== Listas ===== */
.reveal ul li::marker {
  color: #E6C691; /* bege dourado */
}

/* ===== Caixas coloridas ===== */
.box-blue {
  border-left: 8px solid #052034;
  background: #eff6ff;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.box-yellow {
  border-left: 8px solid #facc15;
  background: #fefce8;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* (opcional manter outras cores mais neutras) */
.box-gray {
  border-left: 8px solid #94a3b8;
  background: #f1f5f9;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


/*#tabela */
.tabela-esquerda table {
  margin-left: 20px !important;
  margin-right: auto !important;
  margin-bottom: 20px !important
}


/*#texto-pequeno */
.texto-pequeno {
  font-size: 0.75em !important;
  position: relative;
  top: 30px;
}


.texto-centralizado {
  text-align: center !important;
  margin-top: 35px;
}


/* ===== Destaques ===== */
.highlight-blue {
  color: #052034;
  font-weight: 700;
}

.highlight-yellow {
  color: #eab308;
  font-weight: 700;
}

/* ===== Código ===== */
.reveal pre code {
  font-size: 0.78em;
  background: #020617;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 1em;
}

/* ===== Rodapé ===== */
.reveal .footer {
  font-size: 0.5em;
  color: #052034;
}

/* ===== Apêndices ===== */
/* Linhas ímpares */
.tabela-estilo table tbody tr:nth-child(odd) {
  background-color: #fefce8 !important;
}

/* Linhas pares */
.tabela-estilo table tbody tr:nth-child(even) {
  background-color: #eff6ff !important;
}

/* tabela resultado */
.tabela-estilo table tbody td:nth-child(2) {
  padding-left: 35px !important;
}